:root {
    --primary-color: #007bff;
    --secondary-color: #30697e;
    --font-color : #1d282f;
    --font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: var(--font-size);
}

h1 {
    color: var(--font-color);
    font-size: 2.5rem;
}

.container {
    background-color: rgba(255, 255, 255, 0.159);
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    outline-width: 0;
    box-shadow: 0 0 10px rgba(34, 84, 122, 0.5);
}
